{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "parser": "babel-eslint",
  "extends": [
    "react"
  ],
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true,
      "jsx": true,
    }
  },
  globals: {
    "AMap": true,
    "document": true
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "indent": ["error", 2],
    "linebreak-style": ["error", "unix"],
    "quotes": ["error", "single"],
    "jsx-quotes": ["error", "prefer-single"],
    "semi": ["error", "never"],
    "no-console": ["off"]
  }
}
